﻿
<div class="registration-form-link container-mt4 mb-4 d-flex justify-content-center">
	<span class="me-2">Already have an Account?</span>
	<a asp-action="Login">Login here</a>
</div>

<div class="registration-form-link container-mt4 mb-4 d-flex justify-content-center">
	<span class="me-2">Dont have an Account?</span>
	<a asp-action="Register">Register an account here</a>
</div>
